.container {
  max-width: 1200px;   /* ширина как у navbar */
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;  /* отступ слева */
  padding-right: 40px; /* отступ справа */
}


/* Логические секции stránky */
.section {
  padding: 70px 0;
}
